#lists {
    display: flex;
}

#todo-column{
    display:flex;
    flex-direction: column;
    margin-right: 5px;
    padding-right: 10px;
    border-right-style:solid;
}

#complete-column{
    display: flex;
    flex-direction: column;
}

#completed-list > li:after{
    content: '✓';
}